<div class="header1">
    <h1>Welcome to {{title}}</h1>
</div>

<div class="fileChooser">
  <label for="csvFileUpload">Choose a file (.csv only)
    <mat-icon class="pink">
      attach_file
    </mat-icon>
  </label>
    <input type="file" #fileImportInput name="File_Upload" id="csvFileUpload" (change)="fileChangeListener($event)" class="inputFile">
</div>

<br>
<br>

<div  *ngIf="_dataSource == '' " class="message">
  <h2>Result of uploaded file will be displayed here!</h2>
</div>

<div *ngIf="_dataSource !== '' " class="dataTable">
  <mat-form-field>
    <input matInput name="Filter" [(ngModel)]="filterValue" placeholder="Filter by Issue count">
  </mat-form-field>
  
  <!-- TO FILTER ON THE BASIS OF "ISSUE COUNT", I HAVE USED PIPE TO FORMAT THE DATA (countFilter) -->
  <table mat-table [dataSource]="_dataSource | countFilter: filterValue" class="mat-elevation-z8"> 
  
    <!-- FIRST NAME COLUMN -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> First Name</th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>
  
    <!-- SUR NAME COLUMN-->
    <ng-container matColumnDef="surName">
      <th mat-header-cell *matHeaderCellDef> Sur Name </th>
      <td mat-cell *matCellDef="let element"> {{element.surName}} </td>
    </ng-container>
  
    <!-- ISSUE COUNT COLUMN -->
    <ng-container matColumnDef="issueCount">
      <th mat-header-cell *matHeaderCellDef> Issue Count </th>
      <td mat-cell *matCellDef="let element"> {{element.issueCount}} </td>
    </ng-container>
  
    <!-- DATE OF BIRTH COLUMN -->
    <ng-container matColumnDef="dob">
      <th mat-header-cell *matHeaderCellDef> Date Of Birth </th>
      <td mat-cell *matCellDef="let element"> {{element.dob | date: 'medium'}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="_columns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: _columns;"></tr>
  </table>
</div>